{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Modifier un concours</h1>
    <br>
    {{ form_start(form) }}
    <div class="mb-3">
        <button class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_row(form.nom) }}
    {{ form_row(form.version_batterie) }}
    {{ form_row(form.type_concours) }}
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Type des questions</h3>
    <br>
    {% for question in form.questions %}
        <div class="mb-3">
            <div class="form-label">Question n°{{ question.vars.value.indice }}</div>
            {{ form_widget(question.type) }}
        </div>
    {% endfor %}
    <div class="mb-3">
        <button class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

