{% extends "base.html.twig" %}

{% import 'sessions/macro_session.html.twig' as macro_session %}
{% import 'scores_profils/cahier_des_charges.html.twig' as cahier_des_charges %}

{% block content %}
    <br>
    <h1>Scores</h1>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path('profil_form', {"session_id":session.id, "correcteur_id":correcteur.id}) }}">Calculer
                les profils</a>
        </div>
    </div>
    <br>
    <h3>Informations générales</h3>
    <br>
    <dl class="row">
        <dt class="col-md-3">Session</dt>
        <dd class="col-md-9">
            {{ macro_session.session_dl(session) }}
        </dd>
        <dt class="col-md-3">Correcteur</dt>
        <dd class="col-md-9">
            <dl class="row">
                <dt class="col-md-3">Nom</dt>
                <dd class="col-md-9">{{ correcteur.nom }}</dd>
            </dl>
        </dd>
    </dl>
    <hr class="hr hr-blurry">
    <br>
    <h3>Scores</h3>
    <br>
    <div class="row">
        <div class="table-responsive col-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
                </thead>
                <tbody>
                {% for reponse in reponses %}
                    <tr>
                        <td>{{ reponse.raw["nom"] }}</td>
                        <td>{{ reponse.raw["prenom"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive col">
            {{ cahier_des_charges.table(scores) }}
        </div>
    </div>

{% endblock %}

