{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Etalonnages</h1>
    <br>
    <div class="lead">Liste des étalonnages disponibles</div>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("etalonnage_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Structure associée</th>
            <th scope="col">Nombre de classes</th>
            <th scope="col">Consulter</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for etalonnage in etalonnages %}
            <tr>
                <td>{{ etalonnage.nom }}</td>
                <td>{{ etalonnage.structure.nom }}</td>
                <td>{{ etalonnage.nombre_classes }}</td>
                <td>
                    <a href="{{ path("etalonnage_consulter", {"id":etalonnage.id}) }}" class="btn btn-link fw-bold">
                        Lien</a>
                </td>
                <td>
                    <a href="{{ path("etalonnage_modifier", {"id":etalonnage.id}) }}" class="btn btn-link fw-bold">
                        Lien</a>
                </td>
                <td>
                    <a href="{{ path("etalonnage_supprimer", {"id":etalonnage.id}) }}"
                       class="btn btn-link fw-bold link-danger">
                        Lien</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

