{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Configurer les bornes des classes</h1>
    <br>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    <br>
    <div class="note note-info">
        Pour chaque échelle, et pour chaque classes consécutives, saisissez la valeur séparant les deux classes.
        Logiquement, les valeurs doivent être croissantes.
    </div>
    <br>
    {% for echelleEtalonnage in form.echelles %}
        <div class="mb-3">
            <div class="form-label">Echelle : <b>{{ echelleEtalonnage.vars.value.echelle.nom }}</b></div>
            <div class="input-group">
                <div class="input-group-text">-∞</div>
                {% for bound in echelleEtalonnage.bounds %}
                    <div class="input-group-text"><b>Classe {{ loop.index }}</b></div>
                    {{ form_widget(bound) }}
                    {% if loop.last %}
                        <div class="input-group-text"><b>Classe {{ loop.index + 1 }}</b></div>
                    {% endif %}
                {% endfor %}
                <div class="input-group-text">∞</div>
            </div>
        </div>
        <br>
    {% endfor %}

    <div class="row row-cols-auto">
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
        <div class="col">
            <a class="btn btn-secondary"
               href="{{ path("etalonnage_consulter", {"id":form.vars.value.id}) }}">Annuler</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

