{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Sgaps disponibles</h1>
    <br>
    <p class="lead">Liste des sgaps utilisée par l'application Cortest.</p>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("sgap_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Indice</th>
            <th>Nom</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for sgap in sgaps %}
            <tr>
                <td>{{ sgap.indice }}</td>
                <td>{{ sgap.nom }}</td>
                <td><a class="btn btn-link fw-bold" href="{{ path("sgap_modifier",{"id":sgap.id}) }}">Lien</a></td>
                <td><a class="btn btn-link fw-bold" href="{{ path("sgap_supprimer",{"id":sgap.id}) }}">Lien</a></td>
                <td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

