{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Echelles disponibles</h1>
    <br>
    <p class="lead">Échelles utilisées par les structures de l'application Cortest.</p>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nom php</th>
            <th>Profil</th>
            <th>Type</th>
            <th>Modifier (la structure)</th>
        </tr>
        </thead>
        <tbody>
        {% for echelle in items %}
            <tr>
                <td>{{ echelle.nom }}</td>
                <td>{{ echelle.nom_php }}</td>
                <td>{{ echelle.structure.nom }}</td>
                <td>{{ echelle.type }}</td>
                <td>
                    <a class="btn btn-link fw-bold"
                       href="{{ path("structure_modifier", {"id":echelle.structure.id}) }}">Lien</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

