{% extends "base.html.twig" %}

{% import "sessions/macro_session.html.twig" as macro_session %}

{% block content %}

    <h2>Session</h2>
    <br>
    <div class="row">
        <div class="mb-3 col-md-auto">
            <a class="btn btn-primary" href="{{ path("session_modifier", {"id":session.id}) }}">Modifier</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-primary" href="{{ path("session_supprimer_session", {"id":session.id}) }}">Supprimer</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-primary" href="{{ path("score_form", {"session_id":session.id}) }}">Calculer les
                scores</a>
        </div>
    </div>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Informations générales</h3>
    <br>
    {{ macro_session.session_dl(session) }}
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Candidats</h3>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom de jeune fille</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Sexe</th>
            <th scope="col">Concours</th>
            <th scope="col">Reponses brutes</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for reponse in session.candidats %}
            <tr>
                <td>{{ reponse.reponses["nom"] }}</td>
                <td>{{ reponse.reponses["prenom"] }}</td>
                <td>{{ reponse.reponses["nom_jeune_fille"] }}</td>
                <td>{{ reponse.reponses["date_naissance_jour"] }}-{{ reponse.reponses["date_naissance_mois"] }}
                    -{{ reponse.reponses["date_naissance_an"] }}</td>
                <td>{{ reponse.reponses["sexe"]|sexe }}</td>
                <td>{{ reponse.reponses["concours"] }}</td>
                <td>{{ reponse.reponses["reponses"] }}</td>
                <td><a class="btn btn-primary"
                       href="{{ path("session_supprimer_reponse", {"session_id":session.id, "id":reponse.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

