{% extends "base.html.twig" %}

{% block content %}

    <br>
    <h1>Sessions enregistrées</h1>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("session_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>SGAP</th>
            <th>Grille de réponses</th>
            <th>Consulter</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.date|date('d-m-Y') }}</td>
                <td>{{ session.sgap_index|sgap }}</td>
                <td>{{ grilles[session.id].nom }}</td>
                <td><a class="btn btn-link" href="{{ path("session_consulter", {"id":session.id}) }}">Lien</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

