{% extends "base.html.twig" %}

{% block content %}
    <br>
    <h1>Scores bruts</h1>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path('calcul_score_etalonne_form_score', {"correcteur_id":correcteur.id}) }}">Calculer les
                scores
                étalonnés</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary"
               href="{{ path('csv_scores', { "correcteur_id":correcteur.id}) }}">Exporter en .csv</a>
        </div>
    </div>
    <br>
    <h3>Informations générales</h3>
    <br>
    <dl class="row">
        <dt class="col-md-3">Session</dt>
        <dd class="col-md-9">
            <dl class="row">
                <dt class="col-md-3">Date</dt>
                <dd class="col-md-9">{{ session.date|date('d-m-Y') }}</dd>
                <dt class="col-md-3">SGAP</dt>
                <dd class="col-md-9">{{ session.sgap.nom }}</dd>
                <dt class="col-md-3">Test</dt>
                <dd class="col-md-9">{{ session.test.nom }}</dd>
            </dl>
        </dd>
        <dt class="col-md-3">Correcteur</dt>
        <dd class="col-md-9">
            <dl class="row">
                <dt class="col-md-3">Nom</dt>
                <dd class="col-md-9">{{ correcteur.nom }}</dd>
            </dl>
        </dd>
    </dl>
    <hr class="hr hr-blurry">
    <br>
    <h3>Scores</h3>
    <br>
    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                {% for echelle in correcteur.echelles %}
                    <th>{{ echelle.echelle.nom }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for reponse in reponses_candidats %}
                <tr>
                    <td>{{ reponse.nom }}</td>
                    <td>{{ reponse.prenom }}</td>

                    {% for echelle_correcteur in correcteur.echelles %}
                        <th>{{ scores.get(reponse).get(echelle_correcteur.echelle) }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

{% endblock %}

