{% extends 'base.html.twig' %}

{% block content %}
    <h1>Echec de la production du fichier .pdf</h1>
    <br>
    <p>La production du fichier .pdf pour le
        candidat {{ exception.reponseCandidat.nom }} {{ exception.reponseCandidat.prenom }}
        ({{ exception.reponseCandidat.date_de_naissance|date("d/m/Y") }})</p>
    <br>
    <a class="btn btn-primary" href="{{ path('home') }}" onclick="window.history.back()">Retour</a>
    <br>
    <div class="alert alert-warning my-3">La production du fichier .pdf à produit les informations suivantes. Vous
        pouvez les transmettre aux développeurs afin de faciliter leurs corrections.
    </div>
    <br>
    <p>{{ log }}</p>
{% endblock %}