{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Utilisateurs</h1>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("admin_creer") }}">Créer un utilisateur</a>
        </div>
    </div>
    <br>
    <div class="note note-info">
        Rôles des utilisateurs :
        <ul>
            <li>
                <b>ROLE_ADMINISTRATEUR</b>
                <ul>
                    <li>Accès complet</li>
                </ul>
            </li>
            <li>
                <b>ROLE_PSYCHOLOGUE</b>
                <ul>
                    <li>Tous les droits de ROLE_CORRECTEUR</li>
                    <li>Création, modification, suppression de concours, tests, structures, correcteurs, étalonnages,
                        niveaux scolaires, SGAPs et graphiques
                    </li>
                </ul>
            </li>
            <li>
                <b>ROLE_CORRECTEUR</b>
                <ul>
                    <li>Onglet recherche</li>
                    <li>Saisie de candidats (lecture optique, formulaire, import/export)</li>
                    <li>Créer, modifier et supprimer des sessions</li>
                    <li>Calculer des scores bruts et étalonnés</li>
                    <li>Générer des exports .csv et des feuilles de profil .pdf</li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr class="align-middle">
            <th>Nom d'utilisateur</th>
            <th>Rôle</th>
            <th>Modifier</th>
            <th>Modifier le mot de passe</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="align-middle">
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a class="btn btn-link fw-bold" href="{{ path("admin_modifier", {"id":user.id}) }}">Lien</a>
                </td>
                <td>
                    <a class="btn btn-link fw-bold" href="{{ path("admin_modifier_mdp", {"id":user.id}) }}">Lien</a>
                </td>
                <td>
                    <a class="btn btn-link fw-bold link-danger" href="{{ path("admin_supprimer", {"id":user.id}) }}">Lien</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

