{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Correction par lecture optique</h1>
    <br>
    {{ form_start(form) }}
    <div class="row row-cols-auto align-items-center">
        <div class="col mb-3">
            {{ form_row(form.session) }}
        </div>
        <div class="col">
            <a class="btn btn-secondary" href="{{ path("session_creer") }}">Créer</a>
        </div>
    </div>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    <br>
{% endblock %}

