{% extends "base.html.twig" %}

{% from "_supprimer.html.twig" import supprimer %}

{% block content %}

    <br>
    <h1>Sessions</h1>
    <br>
    <div class="lead">Liste des sessions enregistrées sur Cortest</div>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("session_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Lot</th>
            <th>Date</th>
            <th>SGAP</th>
            <th>Test</th>
            <th>Nb candidats</th>
            <th>Observations</th>
            <th>Consulter</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr class="align-middle">
                <td><a class="btn btn-link fw-bold"
                       href="{{ path("session_consulter", {"id":session.id}) }}">{{ session.id }}</a></td>
                <td>{{ session.date|date('d-m-Y') }}</td>
                <td>{{ session.sgap.nom }} ({{ session.sgap.indice }})</td>
                <td>{{ session.test.nom }}</td>
                <td>{{ session.reponses_candidats.count() }}</td>
                <td>{{ session.observations }}</td>
                <td><a class="btn btn-link fw-bold" href="{{ path("session_consulter", {"id":session.id}) }}">Lien</a>
                <td><a class="btn btn-link fw-bold" href="{{ path("session_modifier", {"id":session.id}) }}">Lien</a>
                <td>
                    <button class="btn btn-link fw-bold link-danger"
                            data-mdb-toggle="modal" data-mdb-target="#supprimerSession">
                        <i class="fa fa-check"></i>
                        Lien
                    </button>
                    {{ supprimer(
                        "supprimerSession",
                        "Supprimer la session",
                        "Supprimer la session ? Les réponses des candidats associées seront perdues.",
                        path("session_supprimer", {"id":session.id})
                    ) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

