{% extends "base.html.twig" %}

{% block content %}

    <br>
    <h1>Sessions</h1>
    <br>
    <div class="lead">Liste des sessions enregistrées sur Cortest</div>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("session_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Lot</th>
            <th>Date</th>
            <th>SGAP</th>
            <th>Test</th>
            <th>Nb candidats</th>
            <th>Observations</th>
            <th>Consulter</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a class="btn btn-link btn-sm"
                       href="{{ path("session_consulter", {"id":session.id}) }}">{{ session.id }}</a></td>
                <td>{{ session.date|date('d-m-Y') }}</td>
                <td>{{ session.sgap.nom }} ({{ session.sgap.indice }})</td>
                <td>{{ session.test.nom }}</td>
                <td>{{ session.reponses_candidats.count() }}</td>
                <td>{{ session.observations }}</td>
                <td><a class="btn btn-link btn-sm" href="{{ path("session_consulter", {"id":session.id}) }}">Lien</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

