{% extends "base.html.twig" %}

{% block content %}

    <br>
    <h1>Sessions enregistrées</h1>
    <br>
    <div class="lead">Liste des sessions enregistrées sur Cortest</div>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("session_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Grille</th>
            <th>SGAP</th>
            <th>Numéro de session</th>
            <th>Concours</th>
            <th>Type concours</th>
            <th>Version batterie</th>
            <th>Consulter</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.date|date('d-m-Y') }}</td>
                <td>{{ grilles[session.grille_class] }}</td>
                <td>{{ session.sgap.nom }}</td>
                <td>{{ session.type_concours }}-{{ session.date|date("Y") }}-{{ session.numero_ordre }}</td>
                <td>{{ session.concours.nom }}</td>
                <td>{{ session.type_concours }}</td>
                <td>{{ session.version_batterie }}</td>
                <td><a class="btn btn-link btn-sm" href="{{ path("session_consulter", {"id":session.id}) }}">Lien</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

