{% extends "base.html.twig" %}

{% from "_supprimer.html.twig" import supprimer %}

{% block content %}

    <h2>Session</h2>
    <br>
    <div class="row">
        <div class="mb-3 col-md-auto">
            <a class="btn btn-primary" href="{{ path("session_modifier", {"id":session.id}) }}">Modifier</a>
        </div>
        <div class="mb-3 col-md-auto">
            <button class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#modalSupprimer">
                <i class="fa fa-check"></i>
                Supprimer</button>
            {{ supprimer(
                "modalSupprimer",
                "Supprimer la session",
                "Supprimer la session ? Toutes les réponses des candidats seront perdues.",
                path("session_supprimer", {"id":session.id})
            ) }}
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary {{ session.reponses_candidats is empty ? 'disabled' : ''}} " href="{{ path("calcul_score_brut_session_form", {"session_id":session.id}) }}">Calculer
                les
                scores bruts</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary {{ session.reponses_candidats is empty ? 'disabled' : ''}}"
               href="{{ path("calcul_score_etalonne_form_session", {"session_id":session.id}) }}">Calculer
                les scores étalonnés</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary {{ session.reponses_candidats is empty ? 'disabled' : ''}}" href="{{ path("session_csv", {"id":session.id}) }}">Exporter en .csv</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary" href="{{ path("lecture_index", {"id":session.id}) }}">Lecture optique</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary" href="{{ path("session_index") }}">Retour à la liste</a>
        </div>
    </div>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Informations générales</h3>
    <br>
    <dl class="row">
        <dt class="col-md-3">Date</dt>
        <dd class="col-md-9">{{ session.date|date('d-m-Y') }}</dd>
        <dt class="col-md-3">SGAP</dt>
        <dd class="col-md-9">{{ session.sgap.nom }}</dd>
        <dt class="col-md-3">Test</dt>
        <dd class="col-md-9">{{ session.test.nom }}</dd>
        <dt class="col-md-3">Version batterie</dt>
        <dd class="col-md-9">{{ session.test.version_batterie }}</dd>
        <dt class="col-md-3">Observations</dt>
        <dd class="col-md-9">{{ session.observations }}</dd>
    </dl>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Réponses des candidats</h3>
    <br>
    <p>Nombre de réponses enregistrées : <strong>{{ session.reponses_candidats.count() }}</strong></p>
    <br>
    <table class="table d-md-inline-block overflow-auto">
        <thead>
        <tr class="text-nowrap">
            <th scope="col">Code barre</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom de jeune fille</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Sexe</th>
            <th scope="col">Niveau scolaire</th>
            <th scope="col">Type de candidat (E-I-R-S)</th>
            <th scope="col">Supprimer</th>
            <th scope="col">Reponses brutes</th>
        </tr>
        </thead>
        <tbody>
        {% for reponse in session.reponses_candidats %}
            <tr>
                <td>{{ reponse.code_barre }}</td>
                <td>{{ reponse.nom }}</td>
                <td>{{ reponse.prenom }}</td>
                <td>{{ reponse.nom_jeune_fille }}</td>
                <td>{{ reponse.date_de_naissance|date("d/m/Y") }}</td>
                <td>{{ reponse.sexe|sexe }}</td>
                <td>{{ reponse.niveau_scolaire.nom }}</td>
                <td>{{ reponse.eirs }}</td>
                <td><a class="btn btn-primary"
                       href="{{ path("reponse_candidat_supprimer", {"id":reponse.id}) }}">Supprimer</a>
                </td>
                <td class="text-truncate">{{ reponse.reponses|join("-") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

