{% extends "base.html.twig" %}

{% block content %}

    <h2>Session</h2>
    <br>
    <div class="row">
        <div class="mb-3 col-md-auto">
            <a class="btn btn-primary" href="{{ path("session_supprimer", {"id":session.id}) }}">Supprimer</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary" href="{{ path("calcul_score_form", {"session_id":session.id}) }}">Calculer
                les
                scores</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary" href="{{ path("calcul_profil_session_form", {"session_id":session.id}) }}">Calculer
                les
                profils</a>
        </div>
        <div class="mb-3 col-md-auto">
            <a class="btn btn-secondary" href="{{ path("session_index") }}">Retour à la liste</a>
        </div>
    </div>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Informations générales</h3>
    <br>
    <dl class="row">
        <dt class="col-md-3">Date</dt>
        <dd class="col-md-9">{{ session.date|date('d-m-Y') }}</dd>
        <dt class="col-md-3">SGAP</dt>
        <dd class="col-md-9">{{ session.sgap.nom }}</dd>
    </dl>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Réponses des candidats</h3>
    <br>
    <table class="table d-md-inline-block overflow-auto">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom de jeune fille</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Sexe</th>
            <th scope="col">Concours</th>
            <th scope="col">Reponses brutes</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for reponse in session.reponses_candidats %}
            <tr>
                <td>{{ reponse.raw["nom"] }}</td>
                <td>{{ reponse.raw["prenom"] }}</td>
                <td>{{ reponse.raw["nom_jeune_fille"] }}</td>
                <td>{{ reponse.raw["date_naissance"] }}</td>
                <td>{{ reponse.raw["sexe"]|sexe }}</td>
                <td>{{ reponse.raw["type_concours"] }}</td>
                <td class="text-truncate">{{ reponse.raw["reponses"]|join("-") }}</td>
                <td><a class="btn btn-primary"
                       href="{{ path("reponse_candidat_supprimer", {"id":reponse.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

