{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Profils disponibles</h1>
    <br>
    <p class="lead">Liste des profils utilisables par l'application Cortest.</p>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("profil_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Propriétes</th>
            <th>Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% for profil in items %}
            <tr>
                <td>{{ profil.nom }}</td>
                <td>
                    {% for echelle in profil.echelles %}
                        {{ echelle.nom }} ({{ echelle.nom_php }})
                        {{ not loop.last ? ' - ' : '' }}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path("profil_modifier", {"id":profil.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

