{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Tests</h1>
    <br>
    <p class="lead">Liste des tests disponibles.</p>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("test_creer") }}">Créer</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Version batterie</th>
            <th>Grille</th>
            <th>Concours(s)</th>
            <th>Consulter</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr class="align-middle">
                <td>{{ test.nom }}</td>
                <td>{{ test.version_batterie }}</td>
                <td>{{ grilles[test.index_grille].nom }}</td>
                <td>
                    <ul>
                        {% for concours in test.concours %}
                            <li>{{ concours.intitule }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-link fw-bold"
                       href="{{ path("test_consulter", {"id":test.id}) }}">Lien</a>
                </td>
                <td>
                    <a class="btn btn-link fw-bold"
                       href="{{ path("test_modifier", {"id":test.id}) }}">Lien</a>
                </td>
                <td>
                    <a class="btn btn-link fw-bold link-danger"
                       href="{{ path("test_supprimer_confirmer", {"id":test.id}) }}">
                        <i class="fa fa-check"></i>
                        Lien
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

