{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Test</h1>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("test_modifier", {"id":test.id}) }}">Modifier le test</a>
        </div>
        <div class="col">
            <a class="btn btn-danger" href="{{ path("test_supprimer_confirmer", {"id":test.id}) }}">
                <i class="fa fa-check"></i>
                Supprimer le test
            </a>
        </div>
        <div class="col">
            <a class="btn btn-secondary" href="{{ path("test_index", {"id":test.id}) }}">Liste des tests</a>
        </div>
    </div>
    <br>
    <h3>Informations générales</h3>
    <br>
    <dl class="row">
        <dt class="col-md-3">Nom</dt>
        <dd class="col-md-9">{{ test.nom }}</dd>
        <dt class="col-md-3">Grille</dt>
        <dd class="col-md-9"><a href="{{ path("grille_index") }}">{{ grille.nom }}</a> ({{ grille.nombre_questions }}
            questions)
        </dd>
        <dt class="col-md-3">Concours(s)</dt>
        {% for concours in test.concours %}
            {% if not loop.first %}
                <dt class="col-md-3"></dt>
            {% endif %}
            <dd class="col-md-9"><a href="{{ path("concours_index") }}">{{ concours.intitule }}</a></dd>
        {% endfor %}
    </dl>
    <br>
    <h3>Questions du test</h3>
    <br>
    <div class="note note-info">
        L'abréviation et l'intitulé des questions servent à l'import/export.
    </div>
    <br>
    <div class="note note-info">
        Le type de question sert à corriger les éventuelles erreurs du candidat et/ou de la lecture optique.
    </div>
    <br>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Indice</th>
            <th>Type</th>
            <th>Intitulé</th>
            <th>Abréviation</th>
        </tr>
        </thead>
        <tbody>
        {% for question in test.questions %}
            <tr>
                <td>{{ question.indice }}</td>
                <td>{{ question.type }}</td>
                <td>{{ question.intitule }}</td>
                <td>{{ question.abreviation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

