{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Cortest</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}Cortest{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <div class="collapse navbar-collapse">
                    <a class="navbar-brand mt-2 mt-lg-0" href="{{ path("home") }}">
                        <img src="{{ asset("favicon.ico") }}" alt="Cortest" width="30" height="30">
                    </a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("lecture_index") }}">Lecture</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("session_index") }}">Sessions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("recherche_index") }}">Recherche</a>
                            </li>
                            {% if is_granted("ROLE_PSYCHOLOGUE") %}
                                
                                {% if is_granted("ROLE_ADMINISTRATEUR") %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path("admin_index") }}">Admin</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       role="button"
                                       data-bs-toggle="dropdown">Paramétrage</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a class="nav-link" href="{{ path("grille_index") }}">Grilles</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="nav-link" href="{{ path("profil_index") }}">Profils</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="nav-link" href="{{ path("sgap_index") }}">SGAPs</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="nav-link" href="{{ path("niveau_scolaire_index") }}">Niveaux
                                                scolaires</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="nav-link" href="{{ path("concours_index") }}">Concours</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="nav-link" href="{{ path("echelle_index") }}">Echelles</a>
                                        </li>
                                        <li class="dropdown-item">
                                    <a class="nav-link" href="{{ path("correcteur_index") }}">Correcteurs</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="{{ path("etalonnage_index") }}">Etalonnages</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="{{ path("graphique_index") }}">Graphiques</a>
                                </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    {% block actions %}
                        <a class="btn" href="{{ path("logout") }}">Se deconnecter</a>
                    {% endblock %}
                </div>
            </div>
        </nav>
    </header>

    <br>
    <div class="container min-vh-100">
        {% block content %}{% endblock %}
    </div>
    <div class="position-absolute bottom-0 end-0">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <br>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">

        <!-- Copyright -->
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="{{ path("home") }}">Ecole Polytechnique | X-Projets</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
{% endblock %}
</body>
</html>