{% extends 'base.html.twig' %}

{% block body %}

    <h2>Calculateurs d'étalonnage existants</h2>

    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Référence</th>
            <th scope="col">Nom du score applicable</th>
            <th scope="col">Référence du score applicable</th>
            <th scope="col">Fichier de calcul présent</th>
            <th scope="col">Télécharger le fichier de calcul</th>
        </tr>
        </thead>
        <tbody>
        {% for etalonnage in etalonnages %}
            <tr {% if not etalonnage_file_exists[etalonnage.id] %}class="table-danger" {% else %} class="table-success"{% endif %}>
                <td>{{ etalonnage.nom }}</td>
                <td>{{ etalonnage.nom_php }}</td>
                <td>{{ etalonnage.score.nom }}</td>
                <td>{{ etalonnage.score.nom_php }}</td>
                <td>{{ etalonnage_file_exists[etalonnage.id] ? "Oui" : "Non" }}</td>
                <td>{% if etalonnage_file_exists[etalonnage.id] %}<a href="{{ path("consulter_etalonnage_file", {"id":etalonnage.id}) }}">Consulter</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

