{% extends 'base.html.twig' %}

{% from "_supprimer.html.twig" import supprimer %}

{% block content %}
    <h1>Bienvenue sur Cortest</h1>
    <p class="lead">Cortest est l'outil de correction des évaluations psychologiques dans les forces de l'ordre.</p>
    <p>Cette application a été développée par XProjets, Junior Entreprise de l'école Polytechnique, pour la cellule
        Psychologie de la Police Nationale.</p>
    <b>Ressources :</b>
    <ul>
        <li><b>Manuel d'utilisation</b> <a class="fa fa-download"
                                           href="{{ asset('/res/Cortest_manuel_utilisateur.pdf') }}"
                                           target="_blank"></a></li>
        <li><b>Guide d'installation et de mise à
                jour</b> <a class="fa fa-download" href="{{ asset('/res/Cortest_installation.pdf') }}"
                            target="_blank"></a></li>
    </ul>
    <br>
    <b>Resources personnalisées : <a class="fa fa-plus" href="{{ path('resource_creer') }}"></a></b>
    {% if resources is empty %}
        <ul>
            <li>Pas de resource personnalisées</li>
        </ul>
    {% endif %}
    <ul>
        {% for resource in resources %}
            <li><b>{{ resource.nom }}</b> : <i>{{ resource.file_nom }}</i> <b>(par {{ resource.user.username }})</b> <a class="fa fa-download"
                                                                            href="{{ path('resource_download', {"id":resource.id}) }}"></a>
                {% if deletable[resource.id] %}
                    <a class="fa fa-trash"
                       data-mdb-toggle="modal" data-mdb-target="#supprimerResource{{ resource.id }}"></a>
                    {{ supprimer(
                        "supprimerResource"~resource.id,
                        "Supprimer la resource",
                        "Supprimer la resource ? Le fichier associé sera perdu.",
                        path("resource_supprimer", {"id":resource.id})
                    ) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}