{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Subtest {{ subtest.nom }}, type composite</h1>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path("graphique_supprimer_subtest", {"id_subtest":subtest.id}) }}">Supprimer</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary"
               href="{{ path("graphique_consulter", {"id":subtest.graphique.id}) }}">Retour</a>
        </div>
    </div>
    <br>
    <h3>Echelles composites:</h3>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path("graphique_subtest_ajouter_echelle", { "id_subtest": subtest.id}) }}">Ajouter</a>
        </div>
    </div>
    <br>
    {% if subtest.echelles_core is empty %}
        <strong>Pas d'échelle composite pour le moment<strong>
    {% else %}
        <ul>
            {% for echelle_composite in subtest.echelles_core %}
                <li>{{ echelle_composite[0]|echelle_graphique_nom }}
                    ({{ echelle_composite[0]|echelle_graphique_nom_affiche }}) :
                </li>
                <ul>
                    <li><a class="btn btn-link"
                           href="{{ path("graphique_ajouter_simple", {"id_subtest":subtest.id, "id_composite":echelle_composite[0]}) }}">Ajouter
                            échelle simple</a></li>
                    <li><a class="btn btn-link"
                           href="{{ path("graphique_subtest_supprimer_composite", {"id_subtest":subtest.id, "id_composite":echelle_composite[0]}) }}">Supprimer l'échelle composite</a>
                    </li>
                    {% for echelle_simple in echelle_composite[1] %}
                        <li>{{ echelle_simple|echelle_graphique_nom }}
                            ( {{ echelle_simple|echelle_graphique_nom_affiche }} )
                        </li>
                    {% endfor %}
                </ul>

            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <hr class="hr hr-blurry">
    <br>
    <h3>Echelles de bas de cadre</h3>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path("graphique_ajouter_footer", {"id_subtest":subtest.id}) }}">Ajouter</a>
        </div>
    </div>
    <br>
    {% if subtest.echelles_footer is empty %}
        <strong>Pas d'échelle de bas de cadre pour le moment</strong>
    {% else %}
        <ul>
            {% for footer in subtest.echelles_footer %}
                <li> {{ footer[0]|echelle_graphique_nom }} ( {{ footer[0]|echelle_graphique_nom_affiche }} )
                    ({{ footer[1]|footer_type }})
                    <a class="btn btn-link"
                       href="{{ path("graphique_supprimer_footer", {"id_subtest":subtest.id, "id_footer": footer[0]}) }}">Supprimer</a>
                </li>

            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}