{% extends 'base.html.twig' %}

{% from "_supprimer.html.twig" import supprimer %}

{% block content %}
    <br>
    <h1>Graphiques</h1>
    <br>
    <div class="lead">Liste des graphiques disponibles</div>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("graphique_creer") }}">Créer</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary" href="{{ path("graphique_verifier_variables") }}">Vérifier les variables</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary" href="{{ path("graphique_ressources") }}">Ressources graphiques</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Structure</th>
            <th scope="col">Modifier</th>
            <th scope="col">Tester</th>
            <th scope="col">Télécharger</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for graphique in graphiques %}
            <tr class="align-middle">
                <td>{{ graphique.nom }}</td>
                <td>{{ graphique.structure.nom }}</td>
                <td><a class="btn btn-link fw-bold"
                       href="{{ path('graphique_modifier', {"id":graphique.id}) }}">Lien</a>
                <td><a class="btn btn-link fw-bold"
                       href="{{ path('graphique_tester', {"id":graphique.id}) }}">Lien</a>
                <td><a class="btn btn-link fw-bold"
                       href="{{ path('graphique_download', {"id":graphique.id}) }}">Lien</a>
                <td>
                    <button class="btn btn-link fw-bold link-danger"
                            data-mdb-toggle="modal" data-mdb-target="#supprimerGraphique_{{ graphique.id }}">
                        <i class="fa fa-check"></i>
                        Lien
                    </button>
                    {{ supprimer(
                        "supprimerGraphique_" ~ graphique.id,
                        "Supprimer le graphique",
                        "Supprimer le graphique ? Le fichier associé sera perdu.",
                        path("graphique_supprimer", {"id":graphique.id})
                    ) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

