{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Graphiques disponibles</h1>
    <br>
    <div class="lead">Liste des graphiques disponibles</div>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("graphique_creer") }}">Ajouter</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary" href="{{ path("graphique_verifier_variables") }}">Vérifier les variables</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Profil</th>
            <th scope="col">Modifier</th>
            <th scope="col">Tester</th>
            <th scope="col">Télécharger</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for graphique in graphiques %}
            <tr>
                <td>{{ graphique.nom }}</td>
                <td>{{ graphique.profil.nom }}</td>
                <td><a class="btn btn-primary" href="{{ path('graphique_modifier', {"id":graphique.id}) }}">Modifier</a>
                <td><a class="btn btn-primary" href="{{ path('graphique_tester', {"id":graphique.id}) }}">Tester</a>
                <td><a class="btn btn-primary" href="{{ path('graphique_download', {"id":graphique.id}) }}">Télécharger</a>
                <td><a class="btn btn-danger" href="{{ path('graphique_supprimer', {"id":graphique.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

