{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1> Modifier et ajouter les champs du graphique {{ graphique.nom }}</h1>
    <br>

    {% set subtest = graphique.subtests[idSubtest] %}

    <h2> Subtest en cours de modification: </h2>

    <p><strong> {{ subtest[0] }} ({{ arrayType[subtest[1]] }}) </strong></p>
    <a class="btn btn-secondary"
       href="{{ path("graphique_ajouter_composite", {"id":graphique.id, "idSub": idSubtest}) }}">Ajouter échelle {% if subtest[1] == 1 %} composite {% endif %}</a>
    <a class="btn btn-secondary"
       href="{{ path("graphique_ajouter_footer", {"id":graphique.id, "idSub": idSubtest}) }}">Ajouter échelle de bas de cadre</a>
    <br>
    {% if subtest[1] == 0 %}
        <ul>
            {% for idComp,echelle in subtest[2] %}
                <br>
                <li>{{ echelleNoms[echelle[0]] }} ( {{ echelleAffiche[echelle[0]] }} )</li>
                <ul>
                    <li>{{ echelleNoms[echelle[1][0]] }}</li>
                    <li>{{ echelleNoms[echelle[1][1]] }}</li>
                </ul>
                <a class="btn btn-primary"
                   href="{{ path("graphique_supprimer_composite", {"id":graphique.id, "idSub": idSubtest, "idComp": idComp}) }}">Supprimer {{ echelleNoms[echelle[0]] }}</a>
            {% endfor %}
        </ul>
    {% elseif subtest[1] == 1 %}
        <ul>
            {% for idComp, echelleComposite in subtest[2] %}
                <br>
                <li>{{ echelleNoms[echelleComposite[0]] }} ( {{ echelleAffiche[echelleComposite[0]] }} )</li>
                <ul>
                    {% for echelleSimple in echelleComposite[1] %}
                        <li>{{ echelleNoms[echelleSimple] }} ( {{ echelleAffiche[echelleSimple] }} )</li>
                    {% endfor %}
                </ul>
                <a class="btn btn-secondary"
                   href="{{ path("graphique_ajouter_simple", {"id":graphique.id, "idSub": idSubtest, "idComp": idComp}) }}">Ajouter échelle simple</a>
                <a class="btn btn-primary"
                   href="{{ path("graphique_supprimer_composite", {"id":graphique.id, "idSub": idSubtest, "idComp": idComp}) }}">Supprimer {{ echelleNoms[echelleComposite[0]] }}</a>
            {% endfor %}
        </ul>
    {% endif %}
    <p> Echelles de bas de cadre: </p>
    <ul>
        {% for idFoot, footer in subtest[3] %}
            <li> {{ echelleNoms[footer[0]] }} ( {{ echelleAffiche[footer[0]] }} ) ({{ footerType[footer[1]] }})</li>
            <a class="btn btn-primary"
               href="{{ path("graphique_supprimer_footer", {"id":graphique.id, "idSub": idSubtest, "idFoot": idFoot}) }}">Supprimer {{ echelleNoms[footer[0]] }}</a>
        {% endfor %}
    </ul>

    {% if isFooter %}
        <h5> Ajouter une échelle de bas de cadre au subtest </h5>
    {% elseif subtest[1] == 1 %}
        {%  if idComposite >= 0 %}
            <h5> Ajouter une échelle simple à {{ graphique.subtests[idSubtest][2][idComposite][0] }}</h5>

        {% else %}
            <h5> Ajouter une échelle composite au subtest {{ graphique.subtests[idSubtest][0] }}</h5>
        {%  endif %}
    {% else %}
        <h5> Ajouter un champ au subtest {{ subtest[0] }}</h5>
    {% endif %}

    {{ form(form) }}

    <h5> Retour aux subtests: </h5>
    <a class="btn btn-secondary"
       href="{{ path("graphique_ajouter_subtests", {"id":graphique.id}) }}">Retour</a>

{% endblock %}