{% extends "base.html.twig" %}

{% block content %}
    <br>
    <h1>Recherche de candidats</h1>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <div class="row row-cols-auto">
        <div class="col-6 border-end">
            {% if selectionnes is empty %}
                <div class="text-center">
                    <i class="fas fa-ban fa-10x mb-6"></i>
                </div>
                <p>Pas encore de candidaté sélectionnés. Veuillez en choisir parmi ceux ci-dessous en vous aidant des
                    filtres
                    de recherche.</p>
            {% else %}
                <h3>Candidats sélectionnés</h3>
                <br>
                <div class="btn-group d-flex" role="group" aria-label="Button group with four buttons">
                    <a class="btn btn-primary flex-grow-1" href="{{ path("recherche_download_reponses") }}">Exporter les réponses</a>
                    <a class="btn btn-secondary flex-grow-1" href="{{ path("recherche_calculer_scores") }}">Calculer les scores</a>
                    <a class="btn btn-secondary flex-grow-1" href="{{ path("recherche_calculer_profils") }}">Calculer les profils</a>
                    <a class="btn btn-secondary flex-grow-1" href="{{ path("recherche_vider") }}">Vider</a>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Date de la session</th>
                            <th>SGAP</th>
                            <th>Retirer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for candidat in selectionnes %}
                            <tr>
                                <td>{{ candidat.nom }}</td>
                                <td>{{ candidat.prenom }}</td>
                                <td>{{ candidat.date_de_naissance|date("d/m/Y") }}</td>
                                <td>{{ candidat.session.date|date("d/m/Y") }}</td>
                                <td>{{ candidat.session.sgap.nom }}</td>
                                <td><a class="btn btn-primary"
                                       href="{{ path("recherche_enlever_reponse", {"id":candidat.id}) }}">Retirer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            <h3>Filtres</h3>
            <br>
            {{ form_start(form_filtre) }}
            <fieldset class="mb-3">
                <legend class="col-form-label">Identification du candidat</legend>
                <div class="input-group">
                    <div class="input-group-text">Prénom</div>
                    {{ form_widget(form_filtre.filtre_prenom) }}
                    <div class="input-group-text">Nom</div>
                    {{ form_widget(form_filtre.filtre_nom) }}
                </div>
            </fieldset>
            {{ form_row(form_filtre.filtre_date_de_naissance_min) }}
            {{ form_row(form_filtre.filtre_date_de_naissance_max) }}
            {{ form_row(form_filtre.niveau_scolaire) }}
            {{ form_row(form_filtre.session) }}
            {{ form_row(form_filtre.submit) }}
            {{ form_end(form_filtre) }}
            <br>
            {{ form_start(form_reponses) }}
            <h3>Candidats</h3>
            <br>
            <hr class="hr hr-blurry">
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Date d'examen</th>
                    <th>SGAP</th>
                    <th>Sélectionné</th>
                </tr>
                </thead>
                <tbody>
                {% for reponse_candidat in form_reponses.reponses_candidat %}
                    <tr>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.nom }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.prenom }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.date_de_naissance|date("d/m/Y") }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.session.date|date("d/m/Y") }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.session.sgap.nom }}</td>
                        <td>{{ form_widget(reponse_candidat.checked) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_row(form_reponses.submit) }}
            {{ form_end(form_reponses) }}
        </div>
    </div>
{% endblock %}

