{% extends "base.html.twig" %}

{% block content %}
    <br>
    <h1>Recherche de candidats</h1>
    <br>
    <hr class="hr hr-blurry">
    <br>
    <div class="row row-cols-auto">
        <div class="col-6 border-end">
            {% if selectionnes is empty %}

                <div class="note note-warning">
                    <div class="text-center">
                        <i class="fa fa-ban fa-5x"></i>
                    </div>
                    <p>Aucun candidat sélectionné. Veuillez en choisir dans la liste, en vous aidant des filtres de
                        recherche.</p>
                </div>
            {% else %}
                <h3>Candidats sélectionnés</h3>
                <br>
                <div class="btn-group d-flex" role="group" aria-label="Button group with four buttons">
                    <a class="btn btn-primary flex-grow-1" href="{{ path("csv_reponses") }}">Exporter les réponses
                        (.csv)</a>
                    <a class="btn btn-secondary flex-grow-1" href="{{ path("calcul_score_brut_form") }}">Calculer les
                        scores</a>
                    <a class="btn btn-secondary flex-grow-1" href="{{ path("calcul_score_etalonne_form") }}">Calculer
                        les
                        profils</a>
                    <a class="btn btn-secondary flex-grow-1" href="{{ path("recherche_vider") }}">Vider</a>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Date de la session</th>
                            <th>SGAP</th>
                            <th>Retirer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for candidat in selectionnes %}
                            <tr>
                                <td>{{ candidat.nom }}</td>
                                <td>{{ candidat.prenom }}</td>
                                <td>{{ candidat.date_de_naissance|date("d/m/Y") }}</td>
                                <td>{{ candidat.session.date|date("d/m/Y") }}</td>
                                <td>{{ candidat.session.sgap.nom }}</td>
                                <td><a class="btn btn-primary"
                                       href="{{ path("recherche_deselectionner", {"reponse_id":candidat.id}) }}">Retirer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            {{ form_start(form) }}
            <h3>Filtres</h3>
            <br>
            <fieldset class="mb-3">
                <legend class="col-form-label">Identification du candidat</legend>
                <div class="input-group">
                    <div class="input-group-text">Prénom</div>
                    {{ form_widget(form.filtrePrenom) }}
                    <div class="input-group-text">Nom</div>
                    {{ form_widget(form.filtreNom) }}
                </div>
            </fieldset>
            {{ form_row(form.filtreDateDeNaissanceMin) }}
            {{ form_row(form.filtreDateDeNaissanceMax) }}
            {{ form_row(form.niveauScolaire) }}
            {{ form_row(form.session) }}
            {{ form_row(form.submit_filtrer) }}
            <br>
            <hr class="hr hr-blurry">
            <br>
            <h3>Candidats</h3>
            <br>
            <div class="input-group">
                {% for key, value in properties_starting_with(form.children,"submit_page_") %}
                    {{ form_widget(value) }}
                {% endfor %}
            </div>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Date d'examen</th>
                    <th>SGAP</th>
                    <th>Sélectionné</th>
                </tr>
                </thead>
                <tbody>
                {% for reponse_candidat in form.checkedReponsesCandidat %}
                    <tr>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.nom }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.prenom }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.date_de_naissance|date("d/m/Y") }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.session.date|date("d/m/Y") }}</td>
                        <td>{{ reponse_candidat.vars.value.reponse_candidat.session.sgap.nom }}</td>
                        <td>{{ form_widget(reponse_candidat.checked) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_row(form.submit_selectionner) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

