{% extends "base.html.twig" %}

{% import 'sessions/macro_session.html.twig' as macro_session %}
{% import 'profil_ou_score/cahier_des_charges.html.twig' as cahier_des_charges %}

{% block content %}
    <br>
    <h1>Profils</h1>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path("profil_session_download", {"session_id":session.id, "correcteur_id":correcteur.id, "etalonnage_id":etalonnage.id}) }}">Télécharger</a>
        </div>
    </div>
    <br>
    <h3>Informations générales</h3>
    <br>
    <dl class="row">
        <dt class="col-md-3">Session</dt>
        <dd class="col-md-9">
            {{ macro_session.session_dl(session) }}
        </dd>
    </dl>
    <hr class="hr hr-blurry">
    <br>
    <h3>Classes</h3>
    <br>
    <div class="row">
        <div class="table-responsive col-md-4">
            <table class="table text-nowrap">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Feuille de profil</th>
                </tr>
                </thead>
                <tbody>
                {% for reponse in reponses %}
                    <tr>
                        <td>{{ reponse.raw["nom"] }}</td>
                        <td>{{ reponse.raw["prenom"] }}</td>
                        <td>
                            <a href="{{ path("profil_download", {"candidat_reponse_id":reponse.id, "etalonnage_id":etalonnage.id, "correcteur_id":correcteur.id}) }}">Lien</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive col">
            {{ cahier_des_charges.table(profils) }}
        </div>
    </div>

{% endblock %}

