{% extends 'base.html.twig' %}

{% from "_supprimer.html.twig" import supprimer %}

{% block content %}

    <br>
    <h1>Consulter les paramètres d'une correction</h1>
    <br>
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-primary"
               href="{{ path("correcteur_modifier", {"id":correcteur.id}) }}">Modifier le calcul des scores</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary"
               href="{{ path("correcteur_exporter", {"id":correcteur.id}) }}">Exporter</a>
        </div>
        <div class="col">
            <button class="btn btn-danger"
                    data-mdb-toggle="modal" data-mdb-target="#supprimerCorrecteur">
                <i class="fa fa-check"></i>
                Supprimer
            </button>
            {{ supprimer(
                "supprimerCorrecteur",
                "Supprimer la correction",
                "Supprimer la correction ? Toutes les échelles associées seront perdues.",
                path("correcteur_supprimer", {"id":correcteur.id})
            ) }}
        </div>
        <div class="col">
            <a class="btn btn-secondary"
               href="{{ path("correcteur_index") }}">Retour à la liste</a>
        </div>
    </div>
    <br>
    <dl class="row">
        <dt class="col-md-3">Nom</dt>
        <dd class="col-md-9">{{ correcteur.nom }}</dd>
        <dt class="col-md-3">Structure</dt>
        <dd class="col-md-9">{{ correcteur.structure.nom }}</dd>
        <dt class="col-md-3">Test(s)</dt>
        {% for test in correcteur.tests %}
            {% if not loop.first %}
                <dt class="col-md-3"></dt>
            {% endif %}
            <dd class="col-md-9">{{ test.nom }}</dd>
        {% endfor %}
    </dl>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Nom</th>
            <th scope="col">Expression</th>
        </tr>
        </thead>
        <tbody>
        {% for echelleController in correcteur.echelles %}
            <tr>
                <td>{{ echelleController.echelle.type }}</td>
                <td>{{ echelleController.echelle.nom }}</td>
                <td>{{ echelleController.expression }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

