{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Modifier un correcteur</h1>
    <br>
    <h3>Informations générales</h3>
    <br>
    {{ form_start(form) }}
    <div class="note note-info">
        Le nom d'un correcteur n'est utilisé que pour se repérer dans Cortest.
    </div>
    <br>
    {{ form_row(form.nom) }}
    <br>
    <div class="note note-info">
        Les correcteurs peuvent s'appliquer à un ou plusieurs tests.
    </div>
    <br>
    {{ form_row(form.tests) }}
    <br>
    <h3>Expression des échelles</h3>
    <br>
    {% for fonction in fonctions %}
        <div class="alert alert-info mb-3">
            <h5 class="alert-heading fw-bold">{{ fonction.nom_affiche }}</h5>
            <hr>
            {{ fonction.description|raw }}
        </div>
    {% endfor %}
    <br>
    {% for echelle_correcteur in form.echelles %}
        <div class="mb-3">
            <div class="form-label"><b>{{ echelle_correcteur.vars.value.echelle.nom }}</b>
                | type: {{ echelle_correcteur.vars.value.echelle.type }} | nom_php: {{ echelle_correcteur.vars.value.echelle.nom_php }}
            </div>
            {{ form_widget(echelle_correcteur.expression) }}
        </div>
    {% endfor %}

    {{ form_end(form) }}

{% endblock %}

