{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Correcteurs disponibles</h1>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path("correcteur_creer") }}">Ajouter</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Nom de la grille applicable</th>
            <th scope="col">Nom du score applicable</th>
            <th scope="col">Consulter</th>
        </tr>
        </thead>
        <tbody>
        {% for correcteur in correcteurs %}
            <tr>
                <td>{{ correcteur.nom }}</td>
                <td>{{ grilles[correcteur.id].nom }}</td>
                <td>{{ scores[correcteur.id] }}</td>
                <td>
                    <a href="{{ path("correcteur_consulter", {"id":correcteur.id}) }}" class="btn btn-link">
                        Consulter</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

