{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Configurer un correcteur</h1>
    <br>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    <br>
    {% for fonction in fonctions %}
        <div class="alert alert-info mb-3">
            <h5 class="alert-heading fw-bold">{{ fonction.nom_affiche }}</h5>
            <hr>
            {{ fonction.description|raw }}
        </div>
    {% endfor %}
    <br>
    {% for echelleCorrecteur in form.echelles %}
        <div class="mb-3">
            <div class="form-label">{{ echelleCorrecteur.vars.value.echelle.nom }}</div>
            {{ form_widget(echelleCorrecteur.expression) }}
        </div>
    {% endfor %}

    {{ form_end(form) }}

{% endblock %}

